<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smacks 'n Snacks</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Noto+Serif:wght@700&family=Oswald&family=Roboto+Condensed&display=swap');
        </style>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <div class="sidenav-overlay"></div>
</head>
<body>
    <!-- <% //include partials/navbar%>  -->
    <%- body %> 
</body>
</html>